{
  "bounds": [
    5.7788,
    47.1001,
    15.3589,
    55.2541
  ],
  "center": [
    10.5,
    51,
    6
  ],
  "format": "png8",
  "interactivity": false,
  "minzoom": 3,
  "maxzoom": 19,
  "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
  "Stylesheet": [
    "style.mss"
  ],
  "Layer": [
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level2_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer2",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer2",
      "layerId": "layer2",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level4_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer4",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer4",
      "layerId": "layer4",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level5_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer5",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer5",
      "layerId": "layer5",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level6_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer6",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer6",
      "layerId": "layer6",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level7_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer7",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer7",
      "layerId": "layer7",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level8_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer8",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer8",
      "layerId": "layer8",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level9_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer9",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer9",
      "layerId": "layer9",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level10_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer10",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer10",
      "layerId": "layer10",
      "geometry": "unknown"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level11_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer11",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer11",
      "layerId": "layer11",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level12_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "layer12",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "layer12",
      "layerId": "layer12",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level12_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border12",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border12",
      "layerId": "border12",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level11_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border11",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border11",
      "layerId": "border11",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level10_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border10",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border10",
      "layerId": "border10",
      "geometry": "unknown"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level9_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border9",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border9",
      "layerId": "border9",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level8_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border8",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border8",
      "layerId": "border8",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level7_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border7",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border7",
      "layerId": "border7",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level6_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border6",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border6",
      "layerId": "border6",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level5_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border5",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border5",
      "layerId": "border5",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level4_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border4",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border4",
      "layerId": "border4",
      "geometry": "polygon"
    },
    {
      "extent": [
        5.866315299183402,
        47.27011139492069,
        15.08205569790056,
        55.09916099471908
      ],
      "Datasource": {
        "type": "postgis",
        "table": "de_falschparker_level2_webm",
        "key_field": "osm_id",
        "geometry_field": "way",
        "extent_cache": "auto",
        "extent": "653035.2319378867,5986275.114615401,1678926.7604060809,7381135.072940906",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "border2",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "border2",
      "layerId": "border2",
      "geometry": "polygon"
    },
    {
      "geometry": "point",
      "extent": [
        5,
        47,
        16,
        56
      ],
      "Datasource": {
        "type": "postgis",
        "table": "notices_webm",
        "key_field": "",
        "geometry_field": "punkt",
        "extent_cache": "auto",
        "extent": "556597.45,5942074.07,1781111.85,7558415.66",
        "host": "{{ds_host}}",
        "port": "{{ds_port}}",
        "user": "{{ds_user}}",
        "password": "{{ds_password}}",
        "dbname": "gis"
      },
      "id": "dots",
      "class": "",
      "srs-name": "900913",
      "srs": "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0.0 +k=1.0 +units=m +nadgrids=@null +wktext +no_defs +over",
      "advanced": {},
      "name": "dots",
      "layerId": "dots"
    }
  ],
  "scale": 1,
  "metatile": 8,
  "name": "Falschparker",
  "description": "erster Versuch",
  "attribution": ""
}