# Default name based virtual host
<VirtualHost *:80>
  ServerName noname.nodomain
  DocumentRoot /var/www/html
  LogLevel info

  ErrorLog ${APACHE_LOG_DIR}/error-noname.log
  CustomLog ${APACHE_LOG_DIR}/access-noname.log vhost_combined

  <Location />
    Require all denied
  </Location>
</VirtualHost>

# One and only correct name based virtual host
<VirtualHost *:80>
  ServerName {{apache.hostname}}
  ServerAdmin {{apache.serveradmin}}
  DocumentRoot /var/www/html
  LogLevel info

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log heiko

  #Redirect permanent / https://{{apache.hostname}}/
  
  # Don't redirect every nonsense URL / hacking attack to HTTPS
  RedirectMatch permanent ^/(\?.*)?$                https://{{apache.hostname}}/
  RedirectMatch permanent ^/index.html(\?.*)?$      https://{{apache.hostname}}/index.html
  RedirectMatch permanent ^/mystyle.css$            https://{{apache.hostname}}/mystyle.css
  RedirectMatch permanent ^/favicon.ico$            https://{{apache.hostname}}/favicon.ico
  RedirectMatch permanent ^/js/(.+).js              https://{{apache.hostname}}/js/$1.png
  RedirectMatch permanent ^/ico/(.+).png$           https://{{apache.hostname}}/ico/$1.png
  RedirectMatch permanent ^/pins/(\d+).png$         https://{{apache.hostname}}/pins/$1.png
  RedirectMatch permanent ^/images/(.+).png$        https://{{apache.hostname}}/images/$1.png
  RedirectMatch permanent ^/gis/(.+)                https://{{apache.hostname}}/gis/$1
  RedirectMatch permanent ^/falschparker_tiles/(.+) https://{{apache.hostname}}/falschparker_tiles/$1
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
