# For better security in production:
#   - I don't use the standard SSH TCP port.
#   - The PostgresSQL database does't accept connects from remote hosts
# This is a clear text example.
# The real configuration file ist encrypted as an ansible vault file.
#
secrets:
  dev:
    linux:
      users:
        importeur:
          password: "imPor:eur9"
    network:
      icmp: true
    ssh:
      host: "ubuntu.home"
      port: 22
    apache:
      hostname: "ubuntu.home"
    db:
      users:
        postgres:
          password: "daTabAS3-admiN!"
        renderd:
          password: "rEaD-onLY123"
  prod:
    linux:
      users:
        importeur:
          password: "jklkVBcd9!c79_cffG"
    ssh:
      host: "ubuntu0815.hoster-cloud.net"
      port: 222
    apache:
      hostname: "wege-frei.org"
    db:
      users:
        renderd:
          password: "g(7dbnF/c:5Ffx$dyF"
