# For better security in production:
#   - I don't use the standard SSH TCP port.
#   - The PostgresSQL database does't accept connects from remote hosts
# This is a clear text example.
# The real configuration file ist encrypted as an ansible vault file.
#
secrets:
  dev:
    ssh:
      host: "ubuntu.home"
      port: 22
    apache:
      hostname: "ubuntu.home"
    db:
      postgres_password: "daTabAS3-admiN!"
      renderd_password: "rEaD-onLY123"
  prod:
    ssh:
      host: "ubuntu0815.hoster-cloud.net"
      port: 222
    apache:
      hostname: "wege-frei.org"
    db:
      renderd_password: "g(7dbnF/c:5Ffx$dyF"
